:root {
    --primary:rgba(73, 255, 223, 1);
}

body {
    margin: 0;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  html,
  body,
  #root {
    width: 100vw;
    height: 100vh;
  }
  