:root {
    --primary:rgba(73, 255, 223, 1);
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}


* {
  box-sizing: border-box;
}

body {
    margin: 0;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  html,
  body,
  #root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  