.flex-1 {
  flex: 1;
}
.d-flex {
  display: flex;
}
.jc-start {
  display: flex;
  justify-content: flex-start;
}
.jc-end {
  display: flex;
  justify-content: flex-end;
}
.jc-center {
  display: flex;
  justify-content: center;
}
.jc-between {
  display: flex;
  justify-content: space-between;
}
.jc-around {
  display: flex;
  justify-content: space-around;
}
.ai-start {
  display: flex;
  align-items: flex-start;
}
.ai-end {
  display: flex;
  align-items: flex-end;
}
.ai-center {
  display: flex;
  align-items: center;
}
.ai-stretch {
  display: flex;
  align-items: stretch;
}
