// 间距css生成
@space-type: {
    m: margin;
    p: padding;
  };

@space : {
    8: 8px;
    16: 16px;
    32: 32px;
    160: 160px;

};


@position : {
    t: top;
    b: bottom;
    l: left;
    r: right;
};

// .p-20 {
//     padding: 20px;
// }
// .pt-20 {
//     padding-top: 20px;
// }


each(@space-type, .(@spaceTypeValue,@spaceTypeKey){

    each(@space, .(@spaceValue,@spaceKey){

        .@{spaceTypeKey}-@{spaceKey} {
            @{spaceTypeValue}:@spaceValue;
        }

        each(@position , .(@positionValue,@positionKey){
            .@{spaceTypeKey}@{positionKey}-@{spaceKey} {
                @{spaceTypeValue}-@{positionValue}:@spaceValue;
            }
        });

    });

});